
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
}

.quote {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lora', arial, serif;
}

.box {
  
}
